<a href="https://colab.research.google.com/github/zakariaouali16/DataAnalysis/blob/main/Student_Performance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ColabSparkSession").getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7eb49123c380>

In [ ]:
df = spark.read.csv('/content/StudentsPerformance.csv', header=True, inferSchema=True)
df.printSchema()
df.show(5)

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import max

highest_math_score = df.agg(max("math score")).collect()[0][0]
print(f"The highest math score is: {highest_math_score}")

In [6]:
highest_reading_score = df.agg(max("reading score")).collect()[0][0]
print(f"The highest reading score is: {highest_math_score}")

The highest reading score is: 100

In [7]:
highest_reading_score = df.agg(max("writing score")).collect()[0][0]
print(f"The highest writing score is: {highest_math_score}")

The highest writing score is: 100

In [8]:
from pyspark.sql.functions import col, max

df_with_total_score = df.withColumn("total score", col("math score") + col("reading score") + col("writing score"))
highest_total_score = df_with_total_score.agg(max("total score")).collect()[0][0]

print(f"The highest combined score (math + reading + writing) is: {highest_total_score}")

The highest combined score (math + reading + writing) is: 300

In [12]:
df_with_total_score.show(5)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|total score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|        218|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|        247|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|        278|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|        148|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|        229|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----------+
only showing top 5 rows

In [13]:
df_with_total_score.orderBy(col("total score").desc()).show(20)

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|total score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----------+
|female|       group E|          bachelor's degree|    standard|                   none|       100|          100|          100|        300|
|  male|       group E|          bachelor's degree|    standard|              completed|       100|          100|          100|        300|
|female|       group E|         associate's degree|    standard|                   none|       100|          100|          100|        300|
|female|       group E|          bachelor's degree|    standard|              completed|        99|          100|          100|        299|
|female|       group D|           some high school|    standard|              completed|        97|          100|          100|        297|
|female|       group D|               some college|    standard|                   none|        98|          100|           99|        297|
|female|       group C|          bachelor's degree|    standard|              completed|        96|          100|          100|        296|
|  male|       group D|               some college|    standard|              completed|       100|           97|           99|        296|
|  male|       group E|         associate's degree|free/reduced|              completed|       100|          100|           93|        293|
|female|       group E|            master's degree|    standard|              completed|        94|           99|          100|        293|
|female|       group D|          bachelor's degree|free/reduced|              completed|        93|          100|          100|        293|
|female|       group E|          bachelor's degree|free/reduced|              completed|        92|          100|          100|        292|
|female|       group D|            master's degree|    standard|                   none|        92|          100|          100|        292|
|female|       group C|          bachelor's degree|    standard|              completed|        92|          100|           99|        291|
|female|       group C|         associate's degree|    standard|              completed|        96|           96|           99|        291|
|female|       group B|          bachelor's degree|    standard|                   none|        97|           97|           96|        290|
|female|       group E|               some college|    standard|                   none|       100|           92|           97|        289|
|female|       group A|           some high school|    standard|              completed|        92|          100|           97|        289|
|female|       group D|          bachelor's degree|    standard|                   none|        89|          100|          100|        289|
|female|       group E|         associate's degree|    standard|              completed|        93|          100|           95|        288|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+-----------+
only showing top 20 rows